.container {
	color: white;
	background-color: #18181b;
	padding: 0.5em;

	/* border: 1px solid black; */
}

.infoContainer {
	margin: 1em;

	/* border: 1px solid red; */
}

.aboutTitle {
	text-align: center;
}
