.container {
	color: white;
	background-color: #3e3e45;
	padding: 0.5em;

	/* border: 1px solid black; */
}

.descriptionContainer {
	margin: 1em;

	/* border: 1px solid red; */
}

.skillsTitle {
	text-align: center;
}
