.container {
	color: white;
	background-color: black;
	padding: 0.5em;

	text-align: center;
}

.nameContainer {
	margin: 1em;
}

.icons {
	height: 2em;
	width: 2em;
}

.icons:hover,
.icons:focus {
	color: #5865f2;
}
