.container {
	color: white;
	background-color: #18181b;

	padding: 0.5em;

	border: 1px solid black;
}

.heroContainer {
	margin: 2em auto;

	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
}

.heroInfoContainer {
	/* border: 1px solid red; */
}

.heroImageContainer {
	/* border: 1px solid orange; */
}

.heroTitle {
	text-align: center;
}

.intro {
	background: repeating-linear-gradient(
		to bottom right,
		#6ee4eb 0%,
		#8aedcc 85%,
		#9ef2b4 15%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.webImage {
	width: 100%;
	object-fit: cover;
	max-width: 400px;
	border-radius: 50px;
}

@media (min-width: 600px) {
	.heroContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3em auto;
	}

	.heroInfoContainer,
	.heroImageContainer {
		margin: 0 auto;
	}
}
